amqp==5.0.9
asgiref==3.4.1
astroid==2.9.0
autopep8==1.6.0
billiard==3.6.4.0
boto3==1.18.64
botocore==1.21.64
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
Django==3.2.6
django-allow-cidr==0.3.1
django-cors-headers==3.9.0
django-email-verification==0.1.0
django-environ==0.4.5
django-modeltranslation==0.17.3
django-rest-passwordreset==1.2.0
django-sendgrid-v5==1.1.0
django-storages==1.12.3
django-tenants==3.3.2
djangorestframework==3.12.4
